.highlight {
    color: green;
}

.mathslate-workspace {
    background-color: #CDF; 
    height: 150px;
    width: 375px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
}
